// Animations
.trans--grow {
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  width: 0%;
}

.grow {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .grow {
    width: 50px;
  }
  hr{
    width:50px;
  }
}
.paral {
  background: url(./assets/geo3.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  overflow: hidden;
  height: auto;
}

.paral .overlay {
  background: RGBA(34, 34, 34, 0.6);
  width: 100%;
  height: 100%;
  padding: 4% 0;
}