.btn {
  background-color: #1E2429;
  border: none;
  cursor: pointer;
  margin: 15px;
  text-transform: uppercase;
  font-size: $base-font+6;
}

.btn:hover {
  background-color: #1E2429;
  opacity: 0.8;
}

.btn .fa {
  margin-left: 10px;
  color: $light-color;
}