// Sections 
.page-section {
    box-shadow: 2px 2px 2px 2px #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#intro {
    padding: 100px 0 100px 0;
    color: $light-color;
    box-shadow: 0px 1px 1px #1E2429;
    background-color: #1E2429;
    color: $light-color;
    box-shadow: 0px 1px 1px #1E2429;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

#intro .btn {
    background-color: transparent;
    border: 1px solid transparent;
}

#intro:hover .btn {
    border: 1px solid white;
}

.project-item {
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid transparent;
}

.project-item:hover {
    border-bottom: 1px solid $main-color;
    transition: 1s;
    opacity: 0.9;
}

.project-img {
    height: 300px;
    width: 500px;
}

.project-img:hover {
    transform: scale(1.5, 1.5);
}

.feature-img {
    height: 80px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
}

.feature-img:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (max-width: 768px) {
    .feature-img:hover {
        transform: scale(1, 1);
    }
}