// Elements
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $font;
  padding-top: 45px;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 35px;
  }
  #intro .btn {
    visibility: hidden;
  }
  #intro .fa {
    visibility: hidden;
  }
}

a {
  text-decoration: none;
}

hr {
  background-color: $hr-color;
  height: 1px 0;
  width: 400px;
  margin-bottom: 30px;
}

hr.side {
  background-color: $font-header-color;
  height: 1px;
  width: 150px;
  margin-bottom: 50px;
}

.stars {
  color: $hr-color;
  font-size: 20px;
}

.fa {
  color: $font-header-color;
}

.separator {
  padding: 10px;
}

table th {
  text-align: center;
  vertical-align: center;
}

table td {
  font-size: $base-font+6;
}

.photo {
  transform: scale(0.8, 0.8);
}

@media screen and (max-width: 720px) {
  .photo {
    transform: scale(0.5, 0.5);
  }
}