// Typography
body,
button,
input,
select,
textarea {
    color: $main-color;
    font-size: $base-font;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 10px;
}

h1 {
    font-size: $base-font+12;
    color: $font-header-color;
    line-height: $base-line-height;
    font-weight: $base-weight+300;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h2 {
    font-size: $base-font+10;
    color: $font-header-color;
    line-height: $base-line-height;
    font-weight: $base-weight+300;
    margin-bottom: 15px;
}

h3 {
    font-size: $base-font+6;
    color: $font-header-color;
    line-height: $base-line-height;
    font-weight: $base-weight+100;
    margin-bottom: 15px;
}

h4 {
    font-size: $base-font+12;
    color: $font-header-color;
    line-height: $base-line-height;
    font-weight: $base-weight+200;
    margin-bottom: 15px;
}

h5 {
    font-size: $base-font+10;
    color: $font-header-color;
    line-height: $base-line-height;
    font-weight: $base-weight+200;
    margin-bottom: 15px;
}

h6 {
    font-size: $base-font + 14;
    font-weight: $base-weight+500;
    text-transform: uppercase;
    color: $light-color;
    line-height: $base-line-height;
}

p {
    font-size: $base-font+6;
    color: $font-text-color;
    line-height: $base-line-height;
    font-weight: $base-weight;
    margin-bottom: 15px;
}