// Navbar
.navbar {
    background-color: $main-color;
    padding: 20px;
}

.navbar ul {
    margin-right: 5px;
}

.navbar .navbar-brand {
    color: $light-color;
    font-size: $base-font+4;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: $base-line-height;
    font-weight: $base-weight+500;
}

.navbar .navbar-brand:hover {
color:$hr-color;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: $light-color;
    font-size: $base-font;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: $base-line-height;
    font-weight: $base-weight+500;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: $hr-color;
}

.lh-nav-bg-transform {
    background-color: $light-color;
    border-bottom: 2px solid $light-color;
    box-shadow: 2px 2px 2px 2px $light-color;
}

.lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: $main-color;
}

.lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: $hr-color;
}

.lh-nav-bg-transform .navbar-brand {
    color: $main-color;
}

.lh-nav-bg-transform .navbar-brand:hover {
    color: $hr-color;
}

@media screen and (max-width: 768px) {
    .navbar {
        text-align: center;
        border: 0;
    }
    .lh-nav-bg-transform {
        background-color: $main-color;
        border-bottom: none;
        box-shadow: none;
        text-align: center;
    }
    .lh-nav-bg-transform .navbar-brand {
        color: $light-color;
        margin: 20px;
    }
    .lh-nav-bg-transform .navbar-brand:hover {
        border-bottom: none;
        color: $light-color;
        text-decoration: none;
    }
    .navbar .navbar-brand:hover {
        border-bottom: none;
    }
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        border-bottom: none;
    }
    .lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: $light-color;
    }
    .lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        border-bottom: none;
    }
}