@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Roboto", sans-serif;
  padding-top: 45px;
  transition: 1s; }

@media screen and (max-width: 768px) {
  body {
    padding-top: 35px; }

  #intro .btn {
    visibility: hidden; }

  #intro .fa {
    visibility: hidden; } }
a {
  text-decoration: none; }

hr {
  background-color: #d3a012;
  height: 1px 0;
  width: 400px; }

hr.side {
  background-color: #606162;
  height: 1px;
  width: 150px;
  margin-bottom: 50px; }

.stars {
  color: #d3a012;
  font-size: 20px; }

.fa {
  color: #606162; }

.separator {
  padding: 10px; }

table th {
  text-align: center;
  vertical-align: center; }

table td {
  font-size: 18px; }

.photo {
  transform: scale(0.8, 0.8); }

@media screen and (max-width: 720px) {
  .photo {
    transform: scale(0.5, 0.5); } }
body,
button,
input,
select,
textarea {
  color: #1E2429;
  font-size: 12px;
  line-height: 1.4; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px; }

h1 {
  font-size: 24px;
  color: #606162;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase; }

h2 {
  font-size: 22px;
  color: #606162;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 15px; }

h3 {
  font-size: 18px;
  color: #606162;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 15px; }

h4 {
  font-size: 24px;
  color: #606162;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 15px; }

h5 {
  font-size: 22px;
  color: #606162;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 15px; }

h6 {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.4; }

p {
  font-size: 18px;
  color: #6B6C6D;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 15px; }

.page-section {
  box-shadow: 2px 2px 2px 2px #ffffff;
  padding-top: 50px;
  padding-bottom: 50px; }

#intro {
  padding: 100px 0 100px 0;
  color: #ffffff;
  box-shadow: 0px 1px 1px #1E2429;
  background-color: #1E2429;
  color: #ffffff;
  box-shadow: 0px 1px 1px #1E2429;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto; }

#intro .btn {
  background-color: transparent; }

#intro:hover .btn {
  border: 2px solid white; }

.project-item {
  cursor: pointer;
  margin-bottom: 50px; }

.project-img {
  height: 300px;
  width: 500px; }

.project-img:hover {
  transform: scale(1.5, 1.5); }

.project-item:hover {
  border-bottom: 1px solid #1E2429;
  transition: 1s;
  opacity: 0.9; }

.feature-img {
  height: 80px;
  width: 80px;
  margin: 10px;
  cursor: pointer; }

.feature-img:hover {
  transform: scale(1.1, 1.1); }

@media screen and (max-width: 768px) {
  .feature-img:hover {
    transform: scale(1, 1); } }
.trans--grow {
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  width: 0%; }

.grow {
  width: 400px; }

.paral {
  background: url(./assets/geo3.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  overflow: hidden;
  height: auto; }

.paral .overlay {
  background: RGBA(34, 34, 34, 0.6);
  width: 100%;
  height: 100%;
  padding: 4% 0; }

.btn {
  background-color: #1E2429;
  border: none;
  cursor: pointer;
  margin: 15px;
  text-transform: uppercase;
  font-size: 14px; }

.btn:hover {
  background-color: #1E2429;
  opacity: 0.8; }

.btn .fa {
  margin-left: 10px;
  color: #ffffff; }

.progress {
  box-shadow: none;
  height: 2px;
  text-align: center;
  vertical-align: center;
  margin: 0 auto; }

.program-table,
.data-table,
.rest-table {
  cursor: pointer; }

.program-table:hover,
.data-table:hover,
.rest-table:hover {
  transform: scale(1.1, 1.1);
  transition: all 1s; }

.progress .progress-bar {
  background-color: #1E2429; }

.progress-box .progress .progress-bar {
  transition: none; }

.program-table .progress .progress-bar {
  background-color: #002E66; }

.data-table .progress .progress-bar {
  background-color: #A02C2C; }

.rest-table .progress .progress-bar {
  background-color: #166316; }

@media screen and (max-width: 768px) {
  .program-table:hover,
  .data-table:hover,
  .rest-table:hover {
    transform: scale(1, 1);
    transition: all 1s; } }
.navbar {
  background-color: #1E2429;
  padding: 20px; }

.navbar ul {
  margin-right: 5px; }

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 800; }

.navbar .navbar-brand:hover {
  color: #d3a012; }

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 12px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 800; }

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #d3a012; }

.lh-nav-bg-transform {
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: 2px 2px 2px 2px #ffffff; }

.lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #1E2429; }

.lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #d3a012; }

.lh-nav-bg-transform .navbar-brand {
  color: #1E2429; }

.lh-nav-bg-transform .navbar-brand:hover {
  color: #d3a012; }

@media screen and (max-width: 768px) {
  .navbar {
    text-align: center;
    border: 0; }

  .lh-nav-bg-transform {
    background-color: #1E2429;
    border-bottom: none;
    box-shadow: none;
    text-align: center; }

  .lh-nav-bg-transform .navbar-brand {
    color: #ffffff;
    margin: 20px; }

  .lh-nav-bg-transform .navbar-brand:hover {
    border-bottom: none;
    color: #ffffff;
    text-decoration: none; }

  .navbar .navbar-brand:hover {
    border-bottom: none; }

  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none; }

  .lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #ffffff; }

  .lh-nav-bg-transform .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none; } }
#colophon {
  background: #1E2429;
  padding: 50px;
  color: #ffffff;
  font-size: 20px; }

#colophon a {
  color: #ffffff; }

#colophon a:hover {
  color: #555555; }

/*# sourceMappingURL=style.css.map */
