@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

hr {
  background-color: #d3a012;
  height: 2px;
  width: 400px; }

hr.side {
  background-color: #1D1D1D;
  height: 1px;
  width: 400px;
  margin-bottom: 50px; }

.stars {
  color: #d3a012;
  font-size: 20px; }

.btn {
  background-color: #1E2429;
  border: none;
  cursor: pointer; }

.btn:hover {
  background-color: #1E2429;
  opacity: 0.8; }

.btn .fa {
  margin-left: 10px;
  color: #ffffff; }

.fa {
  color: #1D1D1D; }

.row {
  margin-top: 20px;
  margin-bottom: 20px; }

.page-section {
  box-shadow: 2px 2px 2px 2px #ffffff; }

body,
button,
input,
select,
textarea {
  color: #283655;
  font-size: 12px;
  line-height: 30px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px; }

h1 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1D1D1D;
  line-height: 30px; }

h2 {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1D1D1D;
  line-height: 30px; }

h3 {
  font-size: 26px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 30px; }

h4 {
  font-size: 22px;
  text-transform: uppercase;
  color: #1D1D1D;
  line-height: 30px; }

h5 {
  font-size: 18px;
  color: #1D1D1D;
  line-height: 30px;
  font-family: 'Roboto', sans-serif; }

h6 {
  font-size: 16px;
  color: #1D1D1D;
  line-height: 30px; }

p {
  font-size: 12px;
  color: #1D1D1D;
  line-height: 30px; }

.navbar {
  font-size: 20px;
  box-shadow: 3px 3px 3px 3px #1E2429; }

.navbar ul {
  margin-right: 20vw; }

.photo {
  transform: scale(0.8, 0.8); }

.feature-img {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer; }

.feature-img:hover {
  transform: scale(1.15);
  transition: all 0.3s; }

#header {
  background: #283655;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: auto;
  box-shadow: 1px 1px 1px 1px #283655; }

.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: White; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon {
  background: #1E2429;
  padding: 20px 0;
  color: #ffffff;
  font-size: 20px; }

#colophon a {
  color: #ffffff; }

#colophon a:hover {
  color: #555555; }

/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
#contact input.form-control,
#contact textarea.form-control {
  margin-bottom: 30px; }

#contact .form-control {
  font-style: italic;
  display: block;
  width: 100%;
  height: 40px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #283655;
  background-color: transparent;
  background-image: none;
  border: 1px solid grey;
  border-top: 3px solid grey;
  border-radius: 0;
  transition: all 0.5s; }

#contact .form-control:focus {
  border-color: #d3a012;
  outline: 0;
  box-shadow: none; }

#MailSender {
  text-transform: uppercase;
  background: #d3a012;
  color: #ffffff;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s;
  text-align: center; }

#MailSender:hover {
  background: #f1c95b;
  opacity: 0.85; }

/*# sourceMappingURL=style.css.map */
