@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
$main-color: #283655;
$submain-color: #d3a012;
$light-color: #ffffff;
//
$hr-color: #d3a012;
//
$nav-color: transparent;
$nav-color-hover:#ffffff;          
$a-hover: #d3a012;
//
$font-header-color:#1D1D1D;
$font-text-color: #1D1D1D;

$base-font: 12px;
$base-weight: 300;
$base-line-height: 30px;

@import "scss/elements";
@import "scss/flex";
@import "scss/typography";
@import "scss/navbar";
@import "scss/images";
@import "scss/footer";
@import "scss/animation"