// Elements
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  background-color: $hr-color;
  height: 2px;
  width: 400px;
}

hr.side {
  background-color: $font-header-color;
  height: 1px;
  width: 400px;
  margin-bottom: 50px;
}

.stars {
  color: $submain-color;
  font-size: 20px;
}

.btn {
  background-color: #1E2429;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #1E2429;
  opacity: 0.8;
}

.btn .fa {
  margin-left: 10px;
  color: $light-color;
}

.fa {
  color: $font-text-color;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-section{
      box-shadow: 2px 2px 2px 2px #ffffff;
}