// Elements
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 35px;
  }
  #intro .btn {
    visibility: hidden;
  }
  #intro .fa {
    visibility: hidden;
  }
}

hr {
  background-color: $hr-color;
  height: 2px;
  width: 400px;
}

hr.side {
  background-color: $font-header-color;
  height: 1px;
  width: 400px;
  margin-bottom: 50px;
}

.stars {
  color: $submain-color;
  font-size: 20px;
}

.btn {
  background-color: #1E2429;
  border: none;
  cursor: pointer;
    margin: 25px;
}

.btn:hover {
  background-color: #1E2429;
  opacity: 0.8;
}

.btn .fa {
  margin-left: 10px;
  color: $light-color;
}

.fa {
  color: $font-text-color;
}

.page-section {
  box-shadow: 2px 2px 2px 2px #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

#intro {
  background-color: #1E2429;
  height: 500px;
  color: $light-color;
  box-shadow: 0px 1px 1px #1E2429;
}

#intro .fa {
  color: $light-color;
  margin: 10px;
  opacity: 0;
  transition-delay: 999999s;
}

#intro:hover .fa {
  opacity: 1;
  transition: 5s;
}

#intro:hover .btn {
  border: 2px solid $light-color;
}

#project .row {
  margin: 25px;
}

.page-section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.project-item{
  padding: 15px;
}
.separator{
  padding: 10px;
}