/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon {
  background: #1E2429;
  padding: 50px;
  color: #ffffff;
  font-size: 20px; }

#colophon a {
  color: #ffffff; }

#colophon a:hover {
  color: #555555; }
