// Images
.photo {
    transform: scale(0.8, 0.8);
}

.header-background {
    background: #283655;
    position: absolute;
    width: 100%;
    overflow: hidden;
    min-height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
    box-shadow: 1px 1px 1px 1px #283655;
}

#intro {
    background-color: #1E2429;
    height: 500px;
    color: $light-color;
    box-shadow: 0px 1px 1px #1E2429;
}

#intro .btn {
    margin: 10px;
}

#intro .fa {
    color: $light-color;
    margin: 10px;
    opacity: 0;
    transition-delay: 999999s;
}

#intro:hover .fa {
    opacity: 1;
    transition: 5s;
}

#intro:hover .btn {
    border: 2px solid $light-color;
}