.navbar {
    font-size: 20px;
    box-shadow: 3px 3px 3px 3px #1E2429;
}

.navbar ul {
    margin-right: 25px;
}

.navbar .navbar-brand {
    color: $light-color;
    font-size: 24px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: $base-line-height;
    font-weight: $base-weight+200;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: $light-color;
    font-size: 24px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: $base-line-height;
    font-weight: $base-weight+200;
}